<?xml version="1.0"?>
<launch>
  <include file="$(find racecar_simulator)/launch/simulator.launch">
        <arg name="map" value="$(find racecar_simulator)/maps/levine.yaml"/>
  </include>
  <param name="follow_wall" value="left"/>
  <!-- output="screen" allows us to see print statements-->
  <node pkg="soni_wall_following" name="pid_error_node" type="pid_error.py" output="screen"/> 
  <node pkg="soni_wall_following" name="control_node" type="control.py" output="screen"/>
  <node pkg="soni_wall_following" name="sim_connector_node" type="sim_connector.py" output="screen"/>
  <node pkg="soni_wall_following" name="soni_wall_following_analysis" type="soni_analysis.py" output="screen"/> 

</launch>
